{% extends 'base.html' %}
{% load hitcount_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blogs</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }

        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }

        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }

        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>
    {% block content_2 %}
    <div class="container">
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="search" class="form-control" placeholder="Search" name="q">
            <button style="margin-top: 5px;" class="btn btn-primary" type="submit">Search</button>

        </form>
    </div>

    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class=" justify-content-center col-md-12 mt-3 left">
                {% for post in post_lists %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title"> <a>{{ post.title }} </a></h2>
                        <p class="card-text text-muted h6"><a
                                href="/accounts/profile/{{post.user_detail.user.id}}">{{ post.user_detail.user }}</a> |
                            {{ post.created_on}} </p>
                        <i class="far fa-eye"></i> {% get_hit_count for post %} <b> </b>
                        <i class="far fa-thumbs-up"></i> {{ post.likes }} <b> </b>
                        <i class="far fa-comment"></i> {{ post.approve_comments.count }}
                        <div class="col-md-3 ">
                            <div class="thumbnail">
                                {% if post.display_pic %}
                                <a href="#">
                                    <img src="{{ post.display_pic.url }}" class="embed-responsive">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <p class="card-text">{{post.content|slice:":200" | safe }}</p>
                        <!-- <a href="{% url 'post_detail' post.id  %}">Comments: {{post.approve_comments.count}} </a> -->
                        <a href="{% url 'post_detail' post.id  %}" class="btn btn-primary">Read More </a>
                        <!-- <a href="/restaurant/{{ restaurant.id }}/">{{ restaurant.name }}</a> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Pagination -->

        <div class="mt-50">
            {% if post_lists.has_other_pages %}
            <ul class="pagination justify-content-center">
                <!-- Previous Arrow -->
                {% if post_lists.has_previous %}
                <li class="page-item">
                    <a href="?page={{post_lists.previous_page_number}}" class="page-link"><i
                            class="fa fa-angle-left"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><i class="fa fa-angle-left"></i></a>
                </li>
                {% endif %}
                <!-- All the Page Number -->
                {% for i in post_lists.paginator.page_range %}
                {% if post_lists.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% elif i > post_lists.number|add:'-3' and i < post_lists.number|add:'3' %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% elif i == 1 %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                <li class="page-item disabled">
                    <a href="" class="page-link">...</a>
                </li>
                {% elif i == post_lists.paginator.num_pages %}
                <li class="page-item disabled">
                    <a href="" class="page-link">...</a>
                </li>
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}

                <!-- Next Arrow -->
                {% if post_lists.has_next %}
                <li class="page-item">
                    <a href="?page={{post_lists.next_page_number}}" class="page-link"><i
                            class="fa fa-angle-right"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link"><i class="fa fa-angle-right"></i></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>



    </div>

    {% endblock %}

</body>

</html>