<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content_2 %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POSTS!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card justify-content-center">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.media}}
                    {{ form.as_p }}
                    <br>
                    <!-- {% csrf_token %} -->
                    <input type="submit" class="btn btn-primary" onclick="success();" value="Create Post">
                    <script type="text/javascript">
                        function success() {
                            swal("Successful!", "Your Post Created!", "success")
                        }
                    </script>
                    <!-- {{ form.as_p }} -->
                    <!-- <button class="btn btn-success">Signin</button> -->
                </form>



            </div>
        </div>

    </div>


    <!-- <script>var editor = new MediumEditor('.editable');</script> -->
</body>

</html>
{% endblock content_2 %}