{% extends 'base.html' %}
{% block content_1 %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">

<div class="container">
    <div class="row">
        <div class=" justify-content-center col-md-12 card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- {{post_detail}} -->
                <h1>{% block title %} {{ detail.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ detail.user_detail.user }} | {{ detail.created_on }}</p>
                <p class="card-text ">{{ detail.content }}</p>
                <!-- <p class="card-text ">{{ eachpost.user_detail.id }}</p> -->

                <a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a>
                {{eachpost.likes}}
                <a href="#" onClick="document.getElementById('dislikebutton').submit()">Dislike This Post</a>
                {{eachpost.dislikes}}
                <form id="likebutton" method="POST" action="/bloglist/{{eachpost.id}}/preference/1/">
                    {% csrf_token %}
                    <input type="hidden">
                </form>

                <form id="dislikebutton" method="POST" action="/bloglist/{{eachpost.id}}/preference/2/">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
                <a href="{% url 'addcomment' pk=detail.pk %}">Add Comment</a>

            </div>
            {% for comment in detail.comments.all %}
            <br>
            {% if user.is_authenticated or comment.approve_comment %}
            {{comment.created_on}}

            {% if not comment.approve_comment %}
            <a href="{% url 'comment_approve' pk=comment.pk %}">Approve Comment</a>
            <a href="{% url 'comment_remove' pk=comment.pk %}">Remove Comment</a>
            {% endif %}

            <p>{{ comment.text }}</p>
            <p>By: {{comment.user_detail.user}}</p>
            {% endif %}
            {% empty %}
            <p>No Comments!</p>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content_1 %}