[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
install = "*"
autopep8 = "*"

[packages]
pillow = "*"
django-ckeditor = "*"
django-hitcount = "*"
psycopg2 = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
