{% extends 'base.html' %}

{% block content_1 %}
    <title>Guide Detail</title>
{% endblock %}

{% block header %}
    {{ guide.name }}
{% endblock %}

{% block content_2 %}
    {% if guide.img %} <img src="{{ guide.img.url }}" class="image_ste" >{% endif %}
    <table class="body_table">
    {% if guide.mobile %}<tr><td>Mobile</td><td>{{ guide.mobile }}</td></tr>{% endif %}
    {% if guide.description %}<tr><td>Description</td><td>{{ guide.description }}</td></tr>{% endif %}
    <tr>
        <td>City</td> <td>{{ guide.city.city }}</td>
    </tr>
    <tr>
        <td>Gender</td> <td>{{ guide.gender.name }}</td>
    </tr>
    </table>
{% endblock %}

{% block body_op %}
    {% if guide.user_detail.user == request.user %}
    <a href="/guide/{{ guide.id }}/update/"><button class="body_op_button_class">Update</button></a>
    <a href="/guide/{{ guide.id }}/delete/"><button class="body_op_button_class">Delete</button></a>
        <a href="/guide/{{ guide.id }}/availability/"><button class="body_op_button_class">Availability</button></a>
        <a href="/guide/{{ guide.id }}/bookings/"><button class="body_op_button_class">Bookings</button></a>
    {% endif %}
    <a href="/accounts/profile/{{ guide.user_detail.user.id }}/">
        <button class="body_op_button_class">{{guide.user_detail.user.username}}</button>
    </a>
{% endblock %}
