{% extends 'base.html' %}

{% block content_1 %}
<title></title>
{% endblock content_1 %}

{% block header %}
{% endblock %}

{% block content_2 %}
<div class="bgbg">
    <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <div class="card searchbox" style="height: max-content;">
                    <h3 class="card-header" style="background: #232524; color: #FFFF;">Booking #{{ booking.id }}</h3>
                    <!-- <img src="user.jpg" style="align-self: center;" class="card-img img-thumbnail" alt="..."> -->
                    <div class="card-body">
                        <br>
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Guide</th>
                                    <th scope="col">Hirer</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- {% for order_detail in order_details %} -->
                                <tr>
                                    <td>
                                        <a href="/guide/{{ booking.guide.id }}/"
                                            style="font-family: Ubuntu; font-size: large; color: #2a2c2b;">
                                            {{ booking.guide.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/accounts/profile/{{ booking.customer.user.id }}/"
                                            style="font-family: Ubuntu; font-size: large; color: #2a2c2b;">
                                            {{ booking.customer.user.name }}
                                        </a>

                                        <!-- <button class="btn btn-danger">{{ order_detail.quantity }}</button> -->

                                    </td>

                                    <td>
                                        {{ booking.book_from }} - {{ booking.book_to }} </td>
                                    <td>
                                        {{ booking.guide.city.city }} </td>
                                </tr>
                                <!-- {% endfor %} -->
                            </tbody>
                        </table> <br>





                        {% endblock %}

                        {% block body_op %} <br> <br>
                        {% if booking.customer.user == request.user %}
                        <a href="/guide/purchased_order/">
                            <button class="btn btn-secondary btn-lg btn-block">Guide Bookings</button></a>
                        {% elif booking.guide.user_detail.user == request.user %} <br> <br>
                        <a href="/guide/{{booking.guide.id}}/bookings/">
                            <button class="btn btn-warning btn-lg btn-block">{{booking.guide.name}}'s
                                Bookings</button></a>
                        {%endif%}

                        <br><br>




                    </div>
                </div>

            </div>
            <div class="col-lg-2">

            </div>


        </div>

    </div>
    <br> <br>
</div>
{% endblock %}