{% extends "base.html" %}

{% block content_1 %}
<title>purchased guide order</title>
{% endblock %}

{% block header %}
Guide Bookings
{% endblock %}

{% block content_2 %}
<table>
    {% for order in orders %}
    <tr>
        <td>
            <a href="/guide/bookings/{{ order.id }}/">
                <button class="body_button_class">
                    {{ order.guide.name }} at {{ order.booking_time }}
                </button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block body_op %}
<a href="/my_orders/"><button class="body_op_button_class">My Orders</button></a>
{% endblock %}