{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<link rel="icon" type="image/png" href="/static/photo/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/CSS/util.css">
<link rel="stylesheet" type="text/css" href="/static/CSS/main.css">

<link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
<link href="/static/CSS/search.css" rel="stylesheet" />

{% endblock %}

{% block content_1 %} <title>Search</title> {% endblock %}

{% block content_2 %}
<div class="s009">
    <form>
        <div class="inner-form">
            <div class="advance-search">
                <span class="desc">ADVANCED SEARCH</span>
                {% csrf_token %}
                {{ form|crispy }}
            </div>
    </form>
</div>
<script src="/static/js-shoaib/extention/choices.js"></script>
<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select',
        {
            searchEnabled: false,
            itemSelectText: '',
            removeItemButton: true,
        });
    deleteBtn.addEventListener("click", function (e) {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++) {
            deleteAll[i].click();
        }
    });

</script>

{% endblock %}