{% extends 'base.html' %}


{% block content_1 %}
<title>Search Restaurant</title>
{% endblock content_1 %}


{% block content_2 %}
<form method="POST" id="person-create-form" city-url="ajax/load_city/" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td> <button type="submit"> Search </button> </td>
        </tr>
    </table>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_country").change(function () {
        var url = $("#person-create-form").attr("city-url");
        var country_id = $(this).val();
        $.ajax({
            url: url,
            data: {
                'country': country_id
            },
            success: function (shoaib) {
                $("#id_city").html(shoaib);
            }
        });
    });
</script>


{% if restaurants %}

{% for restaurant in restaurants %}
<a href="/restaurant/{{restaurant.id}}/">{{restaurant.name}}</a><br>
{% endfor %}

{% endif %}


{% endblock content_2 %}