{% extends "base.html" %}

{% block content_1 %}
my order
{% endblock %}

{% block header %}
My Orders
{% endblock %}

{% block content_2 %}
<table>
    <tr>
        <td><a href="/residence/purchased_order/"><button class="body_button_class">Space Bookings</button></a></td>
    </tr>
    <tr>
        <td><a href="/restaurant/purchased_order/"><button class="body_button_class">Food Orders</button></a></td>
    </tr>
    <tr>
        <td><a href="/guide/purchased_order/"><button class="body_button_class">Guide Bookings</button></a></td>
    </tr>
</table>
{% endblock %}