{% extends 'base.html' %}

{% block content_1 %}
<title>My Profile</title>
{% endblock %}

{% block header %}
    {{ user.username }}
{% endblock %}

{% block content_2 %}
<div align="center">
    {% if user_detail.img %}
    <img src="{{ user_detail.img.url }}" class="image_ste">
    {% endif %}

    <table class="body_table">
        <tr>
            <td>Name</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>{{ user_detail.mobile }}</td>
        </tr>
        <tr>

            {% if user_detail.description %}
            <td>Description</td>
            <td>{{ user_detail.description }}</td>
            {% endif %}

        </tr>
        <tr>

            {% if user_detail.address %}
            <td>Address</td>
            <td>{{ user_detail.address }}</td>
            {% endif %}

        </tr>
        <tr>

            {% if user_detail.city %}
            <td>City</td>
            <td>{{ user_detail.city }}</td>
            {% endif %}


        </tr>
    </table>
    <br><br>

</div>
{% endblock %}

{% block body_op %}
    {% if request.user.is_authenticated %}
    <a href="/edit_profile/"><button class="body_op_button_class">Edit Profile</button></a>
    <a href="/change_password/"><button class="body_op_button_class">Change Password</button></a>
    {% endif %}
{% endblock %}