{% extends 'base.html' %}

{% block content_1 %}
<title>Add Residence</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block header %}
Add New Residence
{% endblock %}

{% block content_2 %}

<form id="form1" method="post" enctype="multipart/form-data" load-city="/search/ajax/load_city/" novalidate>
    {% csrf_token %}
    <table class="form_table">
        {{ form.as_table }}
    </table>
<button type="submit" class="body_button_class">Add</button>
</form>

<script>
    $("#id_country").change(function () {

        var url = $("#form1").attr("load-city");
        var country_id = $(this).val();
        // document.getElementById("hi").innerHTML = url;
        $.ajax({
            url: url,
            data: { 'country': country_id },
            success: function (hati) {
                $("#id_city").html(hati);
            }
        });
    });
</script>
{% endblock %}