{% extends 'base.html' %}

{% block content_1 %}
<title>My Residence</title>
{% endblock %}

{% block header %}
    My Residence
{% endblock %}

{% block content_2 %}
<div class="body_components">
    {% for res in qs %}
         <a href="/residence/{{ res.id }}/"> <button class="body_button_class"> {{ res.name }}</button></a><br>
    {% endfor %}
</div>
{% endblock %}

{% block body_op %}
    <a href="/residence/add_residence/"><button class="body_op_button_class"> Add New Residence</button></a>
{% endblock %}
