{% extends "base.html" %}

{% block content_1 %}
<title>Residence Orders</title>
{% endblock %}

{% block header %}
{{ residence.name }} #bookings
{% endblock %}


{% block content_2 %}
<table>
    {% for order in orders %}
    <tr>
        <td>
            <a href="/residence/order/{{ order.id }}/">
                <button class="body_button_class">{{ order.guest.user.username }} at {{ order.booking_time }}</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block body_op %}
{% if residence.user_detail.user == request.user %}
<a href="/residence/{{ residence.id }}/">
    <button class="body_op_button_class">{{ residence.name }}</button>
</a>
{% endif %}
{% endblock %}

orders, residence