{% extends 'base.html' %}
{% load static %}
{% static "images" as statimgsrc %}
{% block content_1 %}
<title></title>
{% endblock content_1 %}

{% block header %}
{% endblock %}

{% block content_2 %}
<div class="bgbg">
    <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <div class="card searchbox" style="height: max-content;">
                    <h3 class="card-header" style="background: #232524; color: #FFFF;">{{residence.name}}'s Spaces</h3>
                    <!-- <img src="user.jpg" style="align-self: center;" class="card-img img-thumbnail" alt="..."> -->
                    <div class="card-body">
                        <br>
                        <!-- <table> -->
                        {% for space in spaces %}
                        <!-- <tr> -->
                        <!-- <td> -->
                        <a href="/residence/space/{{ space.id }}/"><button class="btn btn-outline-dark btn-lg btn-block"
                                style="font-family: Ubuntu; margin-top: 20px;">{{space.name}}</button></a>
                        <!-- </td> -->
                        <!-- </tr> -->
                        {% endfor %}
                        <!-- </table> -->

                        {% endblock %}
                        {% block body_op %}
                        <br> <br>
                        {% if request.user == residence.user_detail.user %}
                        <a href="add_space/"><button class="btn btn-info btn-lg btn-block"
                                style="font-family: Ubuntu; margin-top: 20px;">Add New
                                Space</button></a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-lg-2">

            </div>


        </div>

    </div>
    <br> <br>
</div>
{% endblock %}