{% extends 'base.html' %}


{% block content_1 %}
<title>Residence Order Detail</title>
{% endblock content_1 %}


{% block content_2 %}
<h1>Placed Residence Orders</h1>
<table class="spacing-table">
    <tr>
        <th>Order ID</th>
        <th>Residence</th>
        <th>Space Type</th>
        <th>No of Space</th>
        <th>From</th>
        <th>To</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{order.id}}</td>
        <td> <a href="/residence/{{order.space_type.residence.id}}/">{{order.space_type.residence.name}}</a></td>
        <td> <a href="/residence/space_type/{{order.space_type.id}}/">{{order.space_type.name}}</a></td>
        <td>{{order.n_space}}</td>
        <td>{{order.book_from}}</td>
        <td>{{order.book_to}}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content_2 %}