{% extends 'base.html' %}

{% block content_1 %}
    <title>Residence Detail</title>
{% endblock %}

{% block content_2 %}
    <table>
    {% if ob.name %}<tr><td>Name</td><td>{{ ob.name }}</td></tr>{% endif %}
    {% if ob.address %}<tr><td>Address</td><td>{{ ob.address }}</td></tr>{% endif %}
    {% if ob.city %}<tr><td>City</td><td>{{ ob.city }}</td></tr>{% endif %}
    {% if ob.mobile %}<tr><td>Mobile</td><td>{{ ob.mobile }}</td></tr>{% endif %}
    {% if ob.description %}<tr><td>Description</td><td>{{ ob.description }}</td></tr>{% endif %}
    </table>
    {% if ob.img %}  <img src="{{ ob.img.url }}" />  {% endif %}
{% endblock %}