{% extends 'base.html' %}

{% block content_1 %}
<title>Space Detail</title>
{% endblock %}

{% block content_2 %}
<h1>{{ space.space_type_name }}</h1>
<table>
    {% if space.rent %}<tr>
        <td>Rent</td>
        <td>{{ space.rent }}</td>
    </tr>{% endif %}
    {% if space.rent %}<tr>
        <td>For </td>
        <td>{{ space.person }} person</td>
    </tr>{% endif %}
    {% if space.shared == True %}<tr>
        <td>Shared Space</td>
    </tr>{% endif %}
</table>
{% if space.img %} <img src="{{ space.img.url }}" height="300" width="450"> {% endif %}
<br><br><br>
{% if space.residence.user_detail.user == request.user %}
<a href="/residence/space/{{ space.id }}/update/"> Update</a> <br>
<a href="/residence/space/{{ space.id }}/delete/"> Delete</a> <br>
<a href="/residence/space/{{ space.id }}/avail/"> Create New Availability </a><br>

{% endif %}


{% endblock %}