{% extends 'base.html' %}

{% block content_1 %}
<title>Space Detail</title>
{% endblock %}

{% block header %}
    {{ space.name }}
{% endblock %}

{% block content_2 %}
{% if space.space_type.pic %} <img src="{{ space.space_type.pic.url }}" class="image_ste"> {% endif %}<br>


    <a href="/residence/space_type/{{space.space_type.id}}/">
        <button class="body_button_class">{{space.space_type.name}}</button>
    </a><br>

    <table class="body_table">
    <tr><td>For {{ space.space_type.person }} person</td></tr>
    </table>


{% if space.residence.user_detail.user == request.user %}
<p id="owner_access">


    <p id="availables">

    </p>
    {% if bookings.exists %}
    <h1>Bookings</h1>
    <p id="Bookings">
        <table class="spacing-table">
            <tr>

                <td>From</td>
                <td>To</td>
                <td>By</td>
                <td>Total Payable</td>
                <td>Booked at</td>
            </tr>

            {% for booking in bookings %}
            <tr>

                <td>{{booking.book_from}}</td>
                <td>{{booking.book_to}}</td>
                <td>{{booking.guest}}</td>
                <td>{{booking.total_rent}}</td>
                <td>{{booking.booking_time}}</td>
            </tr>
            {% endfor %}
        </table>

    </p>
    {% endif %}
</p>
{% endif %}
{% endblock %}

{% block body_op %}
    <a href="/residence/{{space.residence.id}}/"><button class="body_op_button_class">{{space.residence.name}}</button></a>
    {% if space.residence.user_detail.user == request.user %}
    <a href="/residence/space/{{ space.id }}/update/"><button class="body_op_button_class">Update</button></a>
    <a href="/residence/space/{{ space.id }}/delete/"><button class="body_op_button_class">Delete</button></a><a href="/residence/space/{{ space.id }}/availability/"><button class="body_op_button_class">Availability</button></a>
    {% endif %}
{% endblock %}