{% extends "base.html" %}

{% block header %}
    {{ space.name }} Available
{% endblock %}

{% block content_1 %} Space Availability {% endblock %}

{% block content_2 %}

{% endblock %}

{% block body_op %}
 {% if space.residence.user_detail.user == request.user %}
    <a href="/residence/space/{{ space.id }}/avail/"><button class="body_op_button_class">Create Availability</button></a>
    <a href="/residence/space/{{space.id}}/unavail/"><button class="body_op_button_class"> Make Unavailable</button></a>
    {% endif %}
{% endblock %}