{% extends 'base.html' %}

{% block content_1 %}
    <title>Add New Restaurant</title>
{% endblock %}

{% block header %}
    Add New Restaurant
{% endblock %}

{% block content_2 %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="form_table">
        {{ form.as_table }}
    </table>
    <button class="body_button_class" type="submit">Add</button>
    </form>

    <script id="load_city_ajax" load_city="/search/ajax/load_city/" load_residence="/search/ajax/load_city_residence/">

    $("#id_country").change(function () {
        $.ajax({
            url: $("#load_city_ajax").attr("load_city"),
            data: { 'country': $("#id_country").val() },
            success: function (redata) {
                $("#id_city").html(redata);
                $.ajax({
                    url: $("#load_city_ajax").attr("load_residence"),
                    data: { 'city': $("#id_city").val() },
                    success: function (redata) { $("#id_residence").html(redata); }
                });
            }
        });
    });

    </script>

{% endblock %}