{% extends 'base.html' %}

{% block content_1 %}
<title></title>
{% endblock content_1 %}

{% block header %}
{% endblock %}

{% block content_2 %}

<br> <br>
<div class="container">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            <div class="card searchbox" style="height: max-content;">
                <h3 class="card-header" style="background: #232524; color: #FFFF;">{{restaurant.name}}'s Menu</h3>
                <!-- <img src="user.jpg" style="align-self: center;" class="card-img img-thumbnail" alt="..."> -->
                <div class="card-body">
                    <br>
                    {% for item in menu %}
                    <a href="/restaurant/food/{{ item.id }}/"><button type="button"
                            class="btn btn-outline-dark btn-lg btn-block"
                            style="font-family: Ubuntu;">{{ item.name }}</button></a>
                    {% endfor %}
                    {% endblock %}

                    {% block body_op %}

                    {% if restaurant.user_detail.user == request.user %}
                    <a href="add_item/"><button class="btn btn-info btn-lg btn-block">Add New Item</button></a>
                    {% endif %}



                </div>
            </div>

        </div>
        <div class="col-lg-2">

        </div>


    </div>

</div>
<br> <br>

{% endblock %}