{% extends 'base.html' %}

{% block content_1 %}<title>Menu</title>{% endblock %}

{% block content_2 %}
    <table>
    <tr><th>Item</th><th>Price</th><th>Available at</th><th>Photo</th><th></th><th></th></tr>
    {% for item in menu %}
        <tr><td>{{ item.name }}</td><td>{{ item.price }}</td><td>{{ item.available_at_time }}</td>
            <td>
            {% if item.img %}
            <img src="{{ item.img.url }}" height="100" width="100">
            {% endif %}
            </td>
        <td><a href="/restaurant/update_item/{{ item.id }}/">Update</a> </td>
        <td><a href="/restaurant/delete_item/{{ item.id }}/">Delete</a> </td>
        </tr>
    {% endfor %}
    </table>
    <p><a href="/restaurant/add_item/{{ restaurant.id }}/">Add Item</a></p>
{% endblock %}