{% extends "base.html" %}

{% block header %}
    Order {{ order.id }}
{% endblock %}

{% block content_1 %}
    <title>Restaurant Order Detail</title>
{% endblock %}

{% block content_2 %}
    <table class="body_table">
    {% for order_detail in order_details %}
        <tr>
        <td>
            {{ order_detail.food.name }}
        </td>
        <td>
            {{ order_detail.quantity }}
        </td>
        <td>
            $ {{ order_detail.quantity }} X {{ order_detail.food.price }}
        </td>
        </tr>
    {% endfor %}
    <tr>
        <td>Bill</td>
        <td></td>
        <td>$ {{ order.bill }}</td>
    </tr>
    </table>
{% endblock %}

{% block body_op %}
    <a href="/restaurant/{{ order.restaurant.id }}/"><button class="body_op_button_class">{{ order.restaurant.name }}</button></a>
    <a href="/accounts/profile/{{ order.customer.id }}/"><button class="body_op_button_class">{{ order.customer.username }}</button></a>
{% endblock %}